body
{
    text-align: center;
    background-color:#4e4e4e;
    margin:0;
    font-family: 'Ubuntu', sans-serif;
} 
button
{
    font-size: 2em; 
    background-color: #e01010; 
    color: white;
} 
input
{
    font-size: 2em;
    background-color: #e01010;
    color: white;
} 
h1
{
    font-size: 5em; 
    color: white;
    letter-spacing: 12px;
    border-bottom: 5px solid #e01010;
}
#pudlo
{
    width: auto;
}
#knobsection
{
    float:left;
    width: 70%;
    height: 50%;
}
#togglebuttons
{
    float:left;
    width: 30%;
    height: 50%;
    text-align: left;
}
#statsection
{
    float:left;
    width: 40%;
    height: 50%;
}
#radiocalsection
{
    float:left;
    width: 60%;
    height: 50%;
    text-align: left;
}
.duzytekst
{
    color: white;
    font-size: 36px;
}
.switch 
{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}  
.switch input 
{ 
    opacity: 0;
    width: 0;
    height: 0;
} 
.slider 
{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}  
.slider:before 
{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}  
input:checked + .slider 
{
    background-color: #e01010;
} 
input:focus + .slider 
{
    box-shadow: 0 0 1px #e01010;
} 
input:checked + .slider:before 
{
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round 
{
    border-radius: 34px;
}
.slider.round:before 
{
    border-radius: 50%;
}
.switche
{
    float: left;
}
.tekst
{
    float: left;
    padding-left: 5%;
}