#brightness1 {
    -webkit-appearance: none;
    height: 3%;
    background: #000;
    outline: none;
    border: 5px solid #e01010;
    border-radius: 8px;
  }
  #brightness1::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20%;
    height: 200%;
    background: #000;
    border: 5px solid #e01010;
    border-radius: 4px;
  }
  #brightness1::-moz-range-thumb {
    width: 2%;
    height: 200%;
    background: #000;
    border: 5px solid #e01010;
    border-radius: 4px;
  }